# Node / Build artifacts
node_modules/
dist/
dist-ssr/
*.local

# Ignore generated artifacts and intermediate renders in data/
data/*
!data/GT_pos/
!data/GT_videos/
!data/camera_calibration.yaml
!data/geometry.yaml
CNN/
ML/

# Python cache & environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
